body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
  font-size: 15px;
  color: #1a1a1a;
  background: #f6f6f6;
  -webkit-tap-highlight-color: rgba(26, 26, 26, 0);
}

.app-main {
  display: block;
}

.homepage {
  background: #018ebc url(../images/login-bg.png) top no-repeat;
  /* background-image: url(http://pc.cattour.cn/img-0705/index.png); */
  background-position-x: center;
  background-position-y: top;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(1, 142, 188);
  /* background-size: cover; */
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding-right: 15px;
}

.homepage-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 2px;
  min-height: 688px;
  height: calc(100% - 42px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-bg {
  overflow: visible;
  width: 432px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;
  border-radius: 9px;
  -webkit-box-shadow: 0 1px 3px;
  box-shadow: 0 1px 30px;
  border: 0;
  background: black;
  filter: alpha(opacity: 30);
  opacity: 0.3;
  top: 0;
  z-index: 1;
}

.login-content {
  overflow: visible;
  width: 432px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;
  border-radius: 9px;
  -webkit-box-shadow: 0 1px 3px;
  box-shadow: 0 1px 30px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.03);
}

/* 头部 */
.login-header {
  padding-top: 30px;
  padding-bottom: 5px;
}

.logo-img {
  width: 80%;
}

/* 内容部分 */
.login-container {
  text-align: center;
  margin: 35px 0 -32px;
}

/* 二维码部分 */
.qrcode-content {
  height: 210px;
  margin-bottom: 30px;
}

/* 二维码图片 */
.qrcode-img {
  margin: 0 auto 15px;
  line-height: 0;
  height: 150px;
  width: 150px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.login-container p {
  font-size: 16px;
  line-height: 22px;
  display: block;
}

.cutButton {
  border-top: 1px solid #ebebeb;
  padding: 14px 0;
  font-size: 14px;
  color: #f40;
}

.cutButton span {
  cursor: pointer;
}

.inner {
  position: relative;
}

.container {
  padding: 0 40px 50px;
}

.small-logo {
  position: absolute;
  height: 18px;
  margin: 0 auto;
}

.logo-slogen {
  margin-top: 15px;
  color: #0084ff;
  font-size: 22px;
}

.form-login .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-login input[type="text"] {
  height: 35px;
  width: 140px;
  border: 1px solid #a9a9a9;
  padding-left: 2px;
}

.form-login label {
  color: #f40;
}

.form-login .button {
  width: 60px;
  background-color: #f40;
  border: 0px;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  line-height: 33px;
}

.form-login .button:hover {
  background-color: #f52b00;
}

.desc {
  margin-top: 15px;
  color: #f40;
  height: 100px;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.03);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.link-button {
  color: #f40;
  font-size: 18px;
}
