<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>实习</title>
    <link href="/css/common.css" rel="stylesheet" type="text/css">
    <link href="/css/teacher.css" rel="stylesheet" type="text/css">

    <script src="/js/jquery.js"></script>

    <script src="./js/artTemplate/vue.min.js"></script>
    <script src="./js/business/components.js"></script>
    <script src="./js/business/studentInfo.js"></script>

    <!-- <script>
        $(function () {
            var _sbzLoad = window.sbzLoad();
            _sbzLoad.render();
        })
    </script> -->
</head>

<body>
    <form id="vue-container">
        <!-- headerlogined -->
        <header>
            <img class="logo" src="/images/logo.png" width="283" alt="">
            <nav>
                <a href="/teacher/news/">通知</a>
                <a href="/teacher/">
                    <div class="nav-new">1</div>活动</a>
                <a href="/teacher/yunpan/">云盘</a>
                <div class="clearfix"></div>
            </nav>
            <div class="header-right">
                <div class="user-info">
                    <div class="user-img">
                        <img src="/images/user-img.png" width="34" alt="">
                    </div>
                    <p class="user-name">诸葛垚</p>
                    <div class="clearfix"></div>
                    <ul class="user-manu">
                        <li>
                            <a href="/teacher/grzx/MyInfo.aspx">基本资料</a>
                        </li>
                        <%-- <li><a href="/teacher/grzx/MyGrowth.aspx">成长时间线</a></li>
                  <li><a href="/teacher/grzx/MyAbility.aspx">能力雷达图</a></li>
                  <li><a href="/teacher/grzx/MyComment.aspx">他评模块</a></li>--%>
                            <li>
                                <a href="/">退出</a>
                            </li>
                    </ul>
                </div>
                <button class="search-submit">
                    <img src="/images/search.png" width="13" alt="">
                </button>
                <input class="search" value="搜索" onFocus="if(value=='搜索'){value='';style.color='black'}" onBlur="if(!value){value=defaultValue;style.color='#999'}">
                <div class="clearfix"></div>
            </div>
            <script>
                //搜索框
                $(".search").focus(function () {
                    $(this).css("width", "125px").animate({ "width": "150" }, 250);
                }).blur(function () {
                    $(this).css("width", "175px").animate({ "width": "100" }, 250)
                });

                //用户菜单
                $(".user-info").mouseenter(function () {
                    if (!$(".user-manu").is(':animated')) {
                        $(".user-manu").slideDown();
                    }
                }).mouseleave(function () {

                    $(".user-manu").slideUp();

                });
            </script>
        </header>
        <!-- headerlogined -->
        <div class="top-manu">
            <a class="current" href="/teacher/">返回</a>
            <a href="index.html">活动首页</a>
            <a href="basicInfo.html">基本信息</a>
            <!-- <a href="SbzResource.aspx">活动资源</a> -->
            <a href="studentInfo.html" class="current">学生管理</a>
            <a href="taskInfo.html">任务管理</a>
            <a href="works.html">作品管理</a>
            <a href="summary.html">活动总结</a>
            <a href="workReviewList.html">评审</a>
        </div>
        <div class="white-box white-box-min sx-xsgl">
            <div class="search-box">
                <span>所属学院</span>
                <select></select>
                <span>所属班级</span>
                <select></select>
                <span>所属小组</span>
                <select></select>
                <span>学生姓名</span>
                <input class="input-text" type="text">
                <input class="input-btn" type="button" value="搜索">
            </div>
            <table class="wg-list" width="100%">
                <tr>
                    <tr>
                        <th width="50">
                            <input type="checkbox">
                        </th>
                        <th>学生姓名</th>
                        <th>学院</th>
                        <th>班级</th>
                        <th>小组</th>
                        <th>完成情况</th>
                        <th>活跃度</th>
                        <th>高校/中学/总成绩</th>
                        <th>操作</th>
                    </tr>
                    <tr align="center" v-for="(item,index) in dataList">
                        <td>
                            <input class="input-checkbox" type="checkbox">
                        </td>
                        <td>诸葛垚</td>
                        <td>行知学院</td>
                        <td>教育技术17-02班</td>
                        <td>小组1</td>
                        <td>6/10</td>
                        <td>200</td>
                        <td>97/96/98</td>
                        <td>
                            <input class="table-btn" id="create-file01" type="button" value="打分" @click="setScore(item.ID)">
                        </td>
                    </tr>
                    </tobdy>
            </table>
            <paging @call="getList" :total="100"></paging>
        </div>
        <div id="mask" class="mask" style="width:100%;height:100%" v-show="showDialog" @click="showDialog=false"></div>
        <!--弹出层-->
        <div id="popup_box01" class="popup_box sx-dafen" style="position:fixed;top: 200px;left: calc((100% - 500px) / 2);display:block;"
            v-show="showDialog">
            <div class="pop_title">
                <span class="close" id="close" name="close" @click="showDialog=false">
                    <img src="/images/close.png" />
                </span>打分</div>
            <div class="pop_cont sx-dafen">
                <table class="wg-list" width="94%">
                    <tbody>
                        <tr>
                            <th width="50%">教育实习考核指标</th>
                            <th width="25%">分值</th>
                            <th>评分</th>
                        </tr>
                        <tr align="center" v-for="(item,index) in socreProject">
                            <td>个人实习计划</td>
                            <td>10</td>
                            <td>
                                <input class="input-text SbzZyInput" type="text" v-model="item.sorce" placeholder="请输入分数">
                            </td>
                        </tr>
                        <tr align="center">
                            <td colspan="2">得分</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>
                <input class="input-btn" type="submit" value="保存">
            </div>
        </div>
        <!--弹出层-->

        <!-- footer -->
        <footer>
            <div class="footer-top">
                <div class="container">
                    <img class="footer-xiaoxun" src="/images/footer-xiaoxun.png" width="131" alt="">
                    <div class="link">
                        <a href="javascript:;" target="_blank">浙江省教育厅</a>
                        <a href="javascript:;" target="_blank">信息公开</a>
                        <a href="javascript:;" target="_blank">书记信箱</a>
                        <a href="javascript:;" target="_blank">校长信箱</a>
                        <a href="javascript:;" target="_blank">网络导航</a>
                        <a href="javascript:;" target="_blank">本科招生</a>
                        <a href="javascript:;" target="_blank">研究生招生</a>
                        <a href="javascript:;" target="_blank">留学生招生</a>
                        <a href="javascript:;" target="_blank">成教招生</a>
                        <a href="javascript:;" target="_blank">自考招生</a>
                        <a href="javascript:;" target="_blank">内部网</a>
                        <a href="javascript:;" target="_blank">办事大厅</a>
                        <a href="javascript:;" target="_blank">就业网</a>
                        <a href="javascript:;" target="_blank">迎新网</a>
                        <div class="clearfix"></div>
                    </div>
                    <img class="footer-code" src="/images/footer-code.png" width="66" alt="">
                </div>
            </div>
            <div class="footer-bottom">地址：浙江省金华市迎宾大道688号 邮编：321004 浙ICP备05001954号 E-Mail:webserver@zjnu.cn</div>
        </footer>
        <!-- footer -->
    </form>
</body>

</html>